// ===============================================
// TYPOGRAPHY VARIABLES
// ===============================================

:root {
  // FONT WEIGHTS
  // -----------------------------------------------

  --fw-xl: 200;
  --fw-l: 300;
  --fw-n: 400;
  --fw-m: 500;
  --fw-sb: 600;
  --fw-b: 700;
  --fw-xb: 800;

  // -----------------------------------------------
  // FONT WEIGHTS

  // FONT SIZES
  // -----------------------------------------------

  --fz-xs: 12px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;

  // -----------------------------------------------
  // FONT SIZES

  // LINE HEIGHTS
  // -----------------------------------------------

  --lh-1: 1;
  --lh-2xs: 1.1;
  --lh-xs: 1.25;
  --lh-sm: 1.27;
  --lh-md: 1.34;
  --lh-lg: 1.43;
  --lh-xl: 1.5;

  // -----------------------------------------------
  // LINE HEIGHTS
}