// ===============================================
// ROW STYLES
// ===============================================


.row {
 &:not(:last-child) {
  margin-bottom: 26px;
 }

 &__films-container {
  display: flex;
  column-gap: 35px;
 }

 &__details {
  display: flex;
  min-height: 0;
  background-color: transparent;
  transition: min-height 1s .30s;

  &--expanded {
   min-height: var(--row-details-min-h);
   max-height: var(--row-details-min-h);
   background-color: var(--cl-black);
   margin-top: 16px;
   transition: min-height .75s;
  }
 }
}